---
group: RAS
title: Create an account
layout: ras/views/_master
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
  {% from "components/password/_macro.njk" import onsPassword %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "index.html"
    }
} %}

{% block main %}
    <h1>Your account is activated</h1>
    {{
        onsInput({
            "id": "email-address",
            "name": "email-address",
            "label": {
                "text": "Email address"
            }
        })
    }}

    {{
        onsPassword({
            "id": "password",
            "label": {
                "text": "Password"
            },
            "showPasswordText": "Show password"
        })
    }}

    <br>
    <a href="">Forgot password?</a>
    <br>

    {{
        onsButton({
            "text": "Sign in",
            "classes": "ons-u-mt-l"
        
        })
    }}
{% endblock %}
