---
group: RAS
title: Create an account
layout: ras/views/_master
---
{% extends "layout/_template.njk" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/password/_macro.njk" import onsPassword %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/.html"
    }
} %}

{% set pageConfig = {
    "header": {
        "title": 'ONS business surveys'
    },
    "footer": {}
} %}

{% block main %}
    {{onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": 'details_correct.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ] 
        })  
        }}
    <h1>Create a password</h1>

{{
    onsPanel({
        "spacious": true,
        "body": 'Your password must have at least:</p><ul>
            <li>12 characters</li>
            <li>1 uppercase letter</li>
            <li>1 symbol (such as ?!£%)</li>
            <li>1 number</li></ul>'
    })
}}


{{
    onsPassword({
        "id": "password",
        "label": {
            "text": "Password"
        },
        "showPasswordText": "Show password"
    })
}}

{{
    onsPassword({
        "id": "password",
        "label": {
            "text": "Confirm password"
        },
        "showPasswordText": "Show password"
    })
}}
<br>
 {{
        onsButton({
            "text": "Create account",
            "iconType": false,
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath + "/check_email.html"
        })
    }}  

{% endblock %}